@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 730px;
  display: block;
  margin: 0 auto;
}

.navbar {
  height: 72px;
}
.navbar .navbar-center {
  background-color: wheat;
  border: 1px solid black;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar .logo {
  padding: 1rem;
}
.navbar .theme {
  padding: 1rem;
}
.navbar .avatar {
  padding: 1rem;
}
.navbar .logo-btn {
  transform: scale(1);
}

.invoice-list__header {
  margin: 32px 0;
}
.invoice-list__header .invoice-list__title {
  margin-bottom: 4px;
}
.invoice-list__header .invoice-list__filter {
  margin-right: 18px;
}
.invoice-list__header .mobile {
  display: inline-block;
}
.invoice-list__header .desktop {
  display: none;
}
.invoice-list__header .arrow {
  margin-left: 12px;
}

.invoice-list__container .arrow,
.invoice-list__container .date.desktop,
.invoice-list__container .price.desktop {
  display: none;
}
.invoice-list__container .invoice-list__item {
  padding: 24px;
}
.invoice-list__container .invoice-list__item-value {
  margin: 0;
  width: 50%;
}

.invoice-card__container {
  margin-top: 64px;
}
.invoice-card__container .invoice-card__header,
.invoice-card__container .invoice-card__body,
.invoice-card__container .invoice-items-balance {
  border: 1px solid black;
  overflow: hidden;
  border-radius: 8px;
}
.invoice-card__container .invoice-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  height: 88px;
  margin-top: 32px;
  margin-bottom: 24px;
  padding: 20px 32px;
}
.invoice-card__container .invoice-card__body {
  display: flex;
  flex-direction: column;
  padding: 48px;
}
.invoice-card__container .invoice-mid {
  margin-top: 21px;
  margin-bottom: 45px;
}
.invoice-card__container .invoice-list-container {
  padding: 16px 32px 24px 32px;
}
.invoice-card__container .invoice-item-title {
  margin-bottom: 8px;
}
.invoice-card__container .invoice-address {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.invoice-card__container-mobile {
  display: none;
  position: relative;
}
.invoice-card__container-mobile .mobile-menu-absolute-container {
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .navbar .navbar-center {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100vw;
  }
  .navbar .logo,
  .navbar .theme,
  .navbar .avatar {
    width: auto;
  }
  .navbar .avatar {
    border-top: 0;
    border-left: 1px solid #494e6e;
    padding: 1rem;
  }
  .navbar .logo-btn {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1024px) {
  .navbar .navbar-center {
    background-color: wheat;
    overflow: hidden;
    border: 1px solid black;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 103px;
  }
  .navbar .logo,
  .navbar .theme,
  .navbar .avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar button {
    background-color: transparent;
    border-style: none;
  }
  .navbar button:hover {
    cursor: pointer;
  }
  .navbar .logo {
    position: relative;
    padding: 33px 31px 32px 32px;
    border-radius: 0 20px 20px 0;
    background-color: #7c5dfa;
    z-index: 1;
    overflow: hidden;
  }
  .navbar .logo .logo-img {
    z-index: 9999;
  }
  .navbar .logo::after {
    content: "";
    height: 100px;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #9277ff;
    border-radius: 20px 0 0 20px;
  }
  .navbar .theme {
    margin-top: auto;
    padding: 28px 42px 28px 41px;
  }
  .navbar .avatar {
    border-top: 1px solid #494e6e;
    padding: 24px 32px 24px 31px;
  }
  .navbar .logo-btn {
    z-index: 1000;
    transform: scale(1.4);
  }
}
@media only screen and (min-width: 1024px) {
  .invoice-list__header {
    border: 1px solid black;
    margin: 72px 0 65px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .invoice-list__header .mobile {
    display: none;
  }
  .invoice-list__header .invoice-list__title {
    margin-bottom: 8px;
  }
  .invoice-list__header .invoice-list__filter {
    margin-left: auto;
    margin-right: 40px;
  }
  .invoice-list__header .arrow {
    margin-left: 16px;
  }
  .invoice-list__container {
    width: 100%;
    list-style: none;
    padding: 0;
  }
  .invoice-list__container:hover {
    cursor: pointer;
  }
  .invoice-list__container .date-price-container {
    display: none;
  }
  .invoice-list__item {
    box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .invoice-list__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .invoice-list__item-value {
    text-align: left;
  }
  .invoice-list__none {
    width: 242px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .invoice-list__none .invoice-list__none-title {
    margin-top: 64px;
    margin-bottom: 24px;
  }
}
