@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
:root {
  font-size: 16px;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  all: unset;
}

/* Remove Number Input Styles */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form__row .form__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  color: #7E88C3;
}
html.dark .form__row .form__header {
  color: #FFFFFF;
}
.form__row .form__input {
  outline: none;
  font-family: inherit;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  padding: 1rem;
  background-color: #FFFFFF;
  color: #1E2139;
  border: 1px solid #DFE3FA;
}
html.dark .form__row .form__input {
  background-color: #1E2139;
  color: #FFFFFF;
}
html.dark .form__row .form__input {
  border: 1px solid #373B53;
}
.form__row .form__input:focus {
  border: 1px solid #9277FF !important;
}

.form__row-items {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.form__row-items .items_title {
  padding: 1rem 0;
  color: #7E88C3;
}
.form__row-items .items_header {
  display: none;
  color: #7E88C3;
  text-align: start;
  padding-left: 0.7rem;
}
.form__row-items .form__row-items-center {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 20px;
  justify-content: center;
  align-items: center;
}
.form__row-items .form__row-items-center .item:first-child {
  grid-column: 1/-1;
}
.form__row-items .form__row-items-center .item:last-child {
  margin-top: 16px;
  justify-self: center;
}
.form__row-items .form__row-items-center .icon {
  cursor: pointer;
  color: #858BB2;
  transition: 0.3s ease-in-out all;
}
.form__row-items .form__row-items-center .icon:hover {
  color: red;
}
.form__row-items .item .form__input {
  padding: 0.72rem;
  width: 100%;
}
.form__row-items .item .form__output {
  padding: 0.72rem;
  width: 100%;
}
.form__row-items .form__label {
  color: #7E88C3;
  padding-bottom: 0.3rem;
}
.form__row-items .form__input {
  background-color: #FFFFFF;
  color: #1E2139;
  border: 1px solid #DFE3FA;
  outline: none;
  font-family: inherit;
  border-radius: 4px;
}
html.dark .form__row-items .form__input {
  background-color: #1E2139;
  color: #FFFFFF;
}
html.dark .form__row-items .form__input {
  border: 1px solid #373B53;
}
.form__row-items .form__input:focus {
  border: 1px solid #9277FF !important;
}
.form__row-items .form__output {
  outline: none;
  font-family: inherit;
  border: 1px transparent #DFE3FA;
  border-radius: 4px;
  color: #888EB0;
}
html.dark .form__row-items .form__output {
  color: #FFFFFF;
}

.form__row-select {
  display: flex;
  width: 100%;
  flex-direction: column;
  user-select: none;
  margin-bottom: 1rem;
}
.form__row-select .form__label {
  color: #7E88C3;
  margin-bottom: 0.3rem;
}
html.dark .form__row-select .form__label {
  color: #FFFFFF;
}
.form__row-select .form_row_input {
  all: unset;
  display: flex;
  background-color: #FFFFFF;
  color: #1E2139;
  border: 1px solid #DFE3FA;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0.72rem;
  cursor: pointer;
}
html.dark .form__row-select .form_row_input {
  background-color: #1E2139;
  color: #FFFFFF;
}
html.dark .form__row-select .form_row_input {
  border: 1px solid #373B53;
}
.form__row-select .form_row_input:focus, .form__row-select .form_row_input:active {
  border: 1px solid #7C5DFA !important;
}

.form__row-select_menu {
  color: black;
  border-radius: 4px;
  z-index: 999;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #373B53;
  box-shadow: 0 10px 20px 0 rgba(72, 84, 159, 0.25);
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}
html.dark .form__row-select_menu {
  background-color: #373B53;
  color: #FFFFFF;
}
.form__row-select_menu .form_row_item {
  user-select: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px dotted #DFE3FA;
}
.form__row-select_menu .form_row_item:hover {
  color: #7C5DFA;
}
html.dark .form__row-select_menu .form_row_item:hover {
  color: #9277FF;
}

[data-invalid] .form__header {
  color: #EC5757;
}
[data-invalid] .form__label {
  color: #EC5757;
}
[data-invalid] .form__input {
  border: 1px solid #EC5757;
  color: #EC5757;
}
[data-invalid] .form__input:focus {
  border: 1px solid #EC5757;
}

@media only screen and (min-width: 768px) {
  .form__row-items {
    row-gap: 0.5rem;
  }
  .form__row-items .items_header {
    display: grid;
    grid-template-columns: 214px 1fr 1fr 1fr 20px;
    color: #7E88C3;
  }
  .form__row-items .form__row-items-center {
    display: grid;
    column-gap: 0.5rem;
    grid-template-rows: 1fr;
    grid-template-columns: 214px 1fr 1fr 1fr 20px;
  }
  .form__row-items .form__row-items-center .item:first-child {
    grid-column: 1/2;
  }
  .form__row-items .form__row-items-center .item:last-child {
    margin-bottom: 0.8rem;
    margin-right: 2rem;
  }
}
.btn {
  display: flex;
  justify-content: center;
  border-radius: 24px;
  cursor: pointer;
  border: transparent;
  max-height: 48px;
  font-size: 12px;
  font-weight: bolder;
  padding: 17px 16px;
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  outline: 1px solid rgba(55, 59, 83, 0.08);
}
.btn:hover {
  opacity: 0.8;
}

.primary {
  min-width: 138px;
  color: #f2f2f2;
  background-color: #7C5DFA;
}

.primary-icon {
  color: #f2f2f2;
  background-color: #7C5DFA;
}

.light {
  min-width: 96px;
  background-color: #F9FAFE;
  color: #7E88C3;
}
.light:hover {
  background-color: #cdd6f7;
  color: #5b68b3;
}

.light-icon {
  width: 100%;
  background-color: #F9FAFE;
  color: #7E88C3;
}
.light-icon:hover {
  background-color: #cdd6f7;
  color: #5b68b3;
}

.dark {
  background-color: #373B53;
  color: #888EB0;
}
.dark:hover {
  background-color: #414662;
  color: #fff;
}

.danger {
  min-width: 89px;
  color: #f2f2f2;
  background-color: #EC5757;
}
.danger:hover {
  background-color: #FF9797;
}

.filter-btn {
  font-weight: 400;
  font-size: 0.813rem;
  all: unset;
  user-select: none;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: bold;
}
.filter-btn .icon {
  transition: 0.3s ease-in-out all;
}

.filter-btn[data-state=open] .icon {
  display: flex;
}

.filter-btn[data-state=closed] .icon {
  transform: rotate(180deg);
}

.filter-content {
  font-weight: 400;
  font-size: 0.813rem;
  font-weight: bold;
  padding: 1.5rem;
  display: flex;
  width: 12rem;
  height: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #373B53;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
html.dark .filter-content {
  background-color: #373B53;
  color: #FFFFFF;
}
.filter-content .filter-option {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  column-gap: 0.5rem;
  padding: 0.25rem 0;
}

.checkbox {
  all: unset;
  background-color: #DFE3FA;
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  display: flex;
  margin-top: -0.25rem;
  align-items: center;
  justify-content: center;
}

.checkbox:hover {
  outline: 2px dashed #7C5DFA;
}

.checkbox:focus {
  background-color: #7C5DFA;
}

.checkbox[data-state=checked] {
  background-color: #7C5DFA;
}

.text-xxl {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.063rem;
  letter-spacing: -1px;
}

.text-xl, .invoice-form .invoice-form-status, .invoice-card .invoice__total h2, .invoice-list .invoice-list__empty h2, .invoice-list .invoice-list-center .invoice-list__header .invoice-list__title h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.375rem;
  letter-spacing: -0.75px;
}

.text-lg, .invoice-form .invoice-form-center h3, .invoice-card .invoice-card-center h4, .invoice-list .invoice-list__empty p, .invoice-list .invoice-list-center .item__group h4, .form__row .form__input, .form__row-items .form__input, .form__row-items .form__output, .form__row-select .form_row_input, .form__row-select_menu {
  font-weight: 700;
  font-size: 0.938rem;
  letter-spacing: -0.25px;
  line-height: 1.5rem;
}

.text-lg-alt, .form__row-items .items_title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.125rem;
}

.text-base, .invoice-card .invoice-card-center p, .invoice-list .invoice-list-center .item__group p, .invoice-list .invoice-list-center .invoice-list__header .invoice-list__title p, .form__row .form__header, .form__row-items .items_header, .form__row-items .form__label, .form__row-select .form__label {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  letter-spacing: -0.1px;
}

.text-base-alt {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 0.938rem;
  letter-spacing: -0.25px;
}

.text-dark-1 {
  color: #0C0E16;
}

.text-light-1 {
  color: #7E88C3;
}

.status {
  width: 104px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border-radius: 6px;
  text-transform: capitalize;
}
.status .status-icon {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.status.paid {
  color: #33D69F;
  background-color: hsla(160, 67%, 52%, 0.2);
}
.status.paid .status-icon {
  background-color: #33D69F;
}
.status.pending {
  color: #FF8F00;
  background-color: rgba(255, 143, 0, 0.2);
}
.status.pending .status-icon {
  background-color: #FF8F00;
}
.status.draft {
  background-color: rgba(107, 113, 148, 0.2);
  color: #373B53;
}
html.dark .status.draft {
  color: #F9FAFE;
}
.status.draft .status-icon {
  background-color: #373B53;
  color: #F9FAFE;
}
html.dark .status.draft .status-icon {
  background-color: #F9FAFE;
  color: #373B53;
}

.box {
  height: 100px;
  border: 1px solid #252945;
  width: 100px;
  display: block;
  background-color: #7E88C3;
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #252945;
  outline: 1px solid rgba(252, 252, 252, 0.25);
  width: 327px;
  padding: 3rem 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html.dark .modal {
  background-color: #252945;
  color: #FFFFFF;
}
.modal p {
  color: #7E88C3;
}
html.dark .modal p {
  color: #DFE3FA;
}

.modal-background.show {
  display: block;
}

.modal-center {
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
}
.modal-center .modal__control {
  display: flex;
  column-gap: 1rem;
  justify-content: end;
}

@keyframes showModal {
  0% {
    transform: translate(0%, -5000%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes hideModal {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0%, -5000%);
  }
}
@media only screen and (min-width: 375px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .modal {
    width: 480px;
  }
  .control__filter .filter__select {
    right: 0;
  }
}
body {
  font-family: "League Spartan", sans-serif;
  height: 120vh;
  background-color: #f2f2f2;
  color: #141625;
}
html.dark body {
  background-color: #141625;
  color: #f2f2f2;
}

.main-container {
  display: flex;
  min-height: 120vh;
  width: 100%;
  justify-content: center;
  background-color: #f2f2f2;
  color: #141625;
}
html.dark .main-container {
  background-color: #141625;
  color: #f2f2f2;
}

.navbar {
  padding: 1rem;
}
.navbar .navbar-center {
  background-color: #373B53;
  z-index: 5;
  overflow: hidden;
  outline: 1px solid rgba(252, 252, 252, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar .avatar-img {
  border-radius: 50%;
  height: 2.5rem;
}
.navbar .logo,
.navbar .navbar__control {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.navbar .navbar__control {
  flex-direction: row;
}
.navbar .logo {
  z-index: -2;
  cursor: pointer;
}
.navbar .logo .logo-center {
  position: relative;
  background-color: #7C5DFA;
  z-index: -1;
  height: 72px;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-start-end-radius: 24px;
  border-end-end-radius: 24px;
}
.navbar .logo .logo-center::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  background-color: #9277FF;
  overflow: hidden;
  border-start-start-radius: 24px;
  border-end-end-radius: 24px;
}
.navbar .logo .logo-center .logo-img {
  transition: 0.3s ease-in-out all;
}
.navbar .logo-img:not(:hover) {
  transition: 300ms all linear;
  transform: rotate(0deg);
}
.navbar .theme {
  padding: 1rem;
}
.navbar .avatar {
  padding: 1rem;
}

.invoice-list {
  margin: 5rem auto;
}
.invoice-list .invoice-list-center {
  width: 327px;
  display: flex;
  background-color: #f2f2f2;
  color: #141625;
  flex-direction: column;
  gap: 1rem;
}
html.dark .invoice-list .invoice-list-center {
  background-color: #141625;
  color: #f2f2f2;
}
.invoice-list .invoice-list-center .invoice-list__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.invoice-list .invoice-list-center .invoice-list__header .invoice-list__title h2 {
  padding: 0.3rem 0;
}
.invoice-list .invoice-list-center .invoice-list__header .invoice-list__title p {
  color: #888EB0;
}
html.dark .invoice-list .invoice-list-center .invoice-list__header .invoice-list__title p {
  color: #f2f2f2;
}
.invoice-list .invoice-list-center .invoice-list__header .invoice-list__control {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.invoice-list .invoice-list-center .invoice-list__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.invoice-list .invoice-list-center .invoice-list__item {
  max-height: 8.375rem;
  padding: 1.5rem;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  justify-content: space-between;
  background-color: #FFFFFF;
  color: #1E2139;
}
html.dark .invoice-list .invoice-list-center .invoice-list__item {
  background-color: #1E2139;
  color: #FFFFFF;
}
.invoice-list .invoice-list-center .invoice-list__item:hover {
  outline: 3px dashed #7C5DFA;
}
.invoice-list .invoice-list-center .item__group {
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 1rem;
}
.invoice-list .invoice-list-center .item__group h4 {
  color: #1E2139;
}
html.dark .invoice-list .invoice-list-center .item__group h4 {
  color: #FFFFFF;
}
.invoice-list .invoice-list-center .item__group p {
  color: #888EB0;
  text-align: end;
}
html.dark .invoice-list .invoice-list-center .item__group p {
  color: #f2f2f2;
}
.invoice-list .invoice-list__empty {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
}
.invoice-list .invoice-list__empty img {
  width: 100%;
}
.invoice-list .invoice-list__empty h2 {
  color: #1E2139;
}
html.dark .invoice-list .invoice-list__empty h2 {
  color: #FFFFFF;
}
.invoice-list .invoice-list__empty p {
  max-width: 327px;
  word-spacing: 2px;
  color: #888EB0;
}
html.dark .invoice-list .invoice-list__empty p {
  color: #DFE3FA;
}

.invoice-card .invoice-card-center {
  width: 327px;
  margin: 5rem auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.invoice-card .invoice-card__return {
  display: flex;
  align-items: baseline;
  column-gap: 1rem;
  cursor: pointer;
}
.invoice-card .invoice-card__header {
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #1E2139;
  width: 100%;
  height: 91px;
  padding: 1.5rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
html.dark .invoice-card .invoice-card__header {
  background-color: #1E2139;
  color: #FFFFFF;
}
.invoice-card .invoice-card__header p {
  font-size: 1rem;
  color: #7E88C3;
}
html.dark .invoice-card .invoice-card__header p {
  color: #FFFFFF;
}
.invoice-card .invoice-card__body {
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #1E2139;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
html.dark .invoice-card .invoice-card__body {
  background-color: #1E2139;
  color: #FFFFFF;
}
.invoice-card .invoice-card__body p {
  color: #7E88C3;
}
html.dark .invoice-card .invoice-card__body p {
  color: #DFE3FA;
}
.invoice-card .invoice-card__body .card-group {
  display: flex;
}
.invoice-card .invoice-card__body .card-group:nth-child(1) {
  row-gap: 1rem;
  flex-direction: column;
}
.invoice-card .invoice-card__body .card-group:nth-child(2) {
  column-gap: 5rem;
  flex-wrap: wrap;
}
.invoice-card .invoice-card__body .card-group:nth-child(3) {
  flex-direction: column;
}
.invoice-card .invoice__subtotal {
  padding: 1.5rem;
  flex-direction: column;
  background-color: #F9FAFE;
  color: #252945;
  row-gap: 1rem;
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
}
html.dark .invoice-card .invoice__subtotal {
  background-color: #252945;
  color: #F9FAFE;
}
.invoice-card .invoice__subtotal .mobile {
  justify-content: space-between;
  align-items: end;
  padding: 0.3rem 0;
}
.invoice-card .invoice__subtotal .desktop {
  text-align: center;
}
.invoice-card .invoice__subtotal .desktop * {
  flex: 1 1 25%;
}
.invoice-card .invoice__total {
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
  padding: 1.5rem;
  color: #f2f2f2;
  min-height: 5rem;
  background-color: #373B53;
  color: #141625;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html.dark .invoice-card .invoice__total {
  background-color: #141625;
  color: #373B53;
}
.invoice-card .invoice__total p {
  font-size: 1rem;
  color: #F9FAFE;
}
html.dark .invoice-card .invoice__total p {
  color: #F9FAFE;
}
.invoice-card .invoice__total h2 {
  color: #f2f2f2;
}
html.dark .invoice-card .invoice__total h2 {
  color: #F9FAFE;
}
.invoice-card .invoice-card__status {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  flex-grow: 1;
  justify-content: space-between;
}
.invoice-card .invoice-card__controls.mobile {
  position: absolute;
  border-radius: 8px;
  background-color: #F9FAFE;
  color: #1E2139;
  padding: 1.5rem 0;
  margin-top: 3rem;
  width: 100%;
  left: 0;
}
html.dark .invoice-card .invoice-card__controls.mobile {
  background-color: #1E2139;
  color: #F9FAFE;
}
.invoice-card .invoice-card__controls.mobile .controls__center {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.form-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  display: none;
}

.form-backdrop.show {
  display: block;
  z-index: 1;
}

.invoice-form {
  background-color: #FFFFFF;
  color: #141625;
  position: fixed;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  outline: 1px solid rgba(252, 252, 252, 0.25);
  padding-top: 5.7rem;
  padding-left: 0;
  z-index: -10;
}
html.dark .invoice-form {
  background-color: #141625;
  color: #FFFFFF;
}
.invoice-form .invoice-form-center {
  margin: 0 auto;
  max-width: 327px;
}
.invoice-form .invoice-form-center h3 {
  color: #7C5DFA;
  padding: 1rem 0;
}
.invoice-form .invoice-form-status {
  padding: 1.2rem 0;
}
.invoice-form .invoice-form-status span {
  color: #7E88C3;
}
.invoice-form .invoice-form-return {
  align-items: baseline;
  column-gap: 1rem;
  cursor: pointer;
}
.invoice-form .invoice-form-create {
  max-width: 327px;
  margin: 0 auto;
  padding: 1.5rem 0;
}
.invoice-form .invoice-form-control {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: #F9FAFE;
  color: #1E2139;
}
html.dark .invoice-form .invoice-form-control {
  background-color: #1E2139;
  color: #F9FAFE;
}
.invoice-form .invoice-form-control .controls__edit,
.invoice-form .invoice-form-control .controls__create {
  column-gap: 1rem;
  display: flex;
}

.invoice-form.show {
  opacity: 1;
  z-index: 4;
}

@media only screen and (min-width: 768px) {
  .navbar .navbar-center {
    display: flex;
    flex-direction: row;
    height: 5rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .navbar .navbar-center .logo-center {
    height: 5rem;
    width: 5rem;
  }
  .invoice-list .invoice-list-center {
    width: 688px;
  }
  .invoice-list .invoice-list__item .item__group {
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
  }
  .invoice-list .invoice-list__empty img {
    width: 50%;
  }
  .invoice-card .invoice-card-center {
    width: 688px;
  }
  .invoice-card .invoice-card__body {
    padding: 2rem;
  }
  .invoice-card .invoice-card__body p {
    font-size: 0.9rem;
  }
  .invoice-card .invoice-card__body .card-group:nth-child(1) {
    justify-content: space-between;
    flex-direction: row;
  }
  .invoice-card .invoice-card__body .card-group:nth-child(1) .invoice__sender {
    text-align: right;
  }
  .invoice-card .invoice__subtotal .description {
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
  }
  .invoice-card .invoice__subtotal .subtotal__item {
    padding: 0.5rem 0;
  }
  .invoice-card .invoice-card__status {
    justify-content: start;
    column-gap: 2rem;
  }
  .invoice-card .invoice-card__controls.desktop {
    display: flex;
    width: 50%;
  }
  .invoice-card .invoice-card__controls.desktop .controls__center {
    display: flex;
    column-gap: 0.5rem;
    flex-direction: row;
  }
  .invoice-form .invoice-form-center {
    max-width: 688px;
  }
  .invoice-form .invoice-form-create {
    max-width: 688px;
  }
  .invoice-form .invoice-form-control {
    justify-content: end;
    background-color: #FFFFFF;
    color: #141625;
  }
  html.dark .invoice-form .invoice-form-control {
    background-color: #141625;
    color: #FFFFFF;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar .navbar-center {
    display: flex;
    flex-direction: column;
    width: 103px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .navbar .navbar-center .logo-center {
    height: 103px;
    width: 103px;
    border-start-end-radius: 0;
  }
  .navbar .navbar-center .logo-center .logo-img {
    transform: scale(1.5) rotate(90deg);
  }
  .navbar .navbar-center .navbar__control {
    flex-direction: column;
  }
  .navbar .navbar-center .navbar__control .avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #7E88C3;
  }
  .invoice-list .invoice-list-center {
    width: 730px;
  }
  .invoice-list .invoice-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .invoice-card .invoice-card-center {
    width: 730px;
  }
  .invoice-form {
    width: 45rem;
    border-radius: 24px;
    padding-left: 10rem;
    padding-right: 3rem;
    padding-top: 3.5rem;
  }
}
