@import "variables";


// BUTTONS

.btn {
  display: flex;
  justify-content: center;
  border-radius: $rounded-xl;
  cursor: pointer;
  border: transparent;
  max-height: 48px;
  font-size: 12px;
  font-weight: bold;
  padding: 17px 16px;


  &:hover {
    opacity: 0.8;
  }

}

.primary-1 {
  min-width: 138px;
  color: $accent-light-100;
  background-color: $primary-200;
  text-transform: capitalize;


}

.primary-1-icon {
  color: $accent-light-100;
  background-color: $primary-200;


}


.accent-1 {
  min-width: 96px;
  background-color: $accent-light-010;
  color: $accent-light-400;

}

.accent-2 {
  background-color: $accent-dark-100;
  color: $accent-light-300;

}


.accent-1-icon {
  width: 100%;
  background-color: $accent-light-010;
  color: $accent-light-400;
}


.danger-1 {
  min-width: 89px;
  color: $accent-light-100;
  background-color: $danger-200;

  &:hover {
    background-color: $danger-100
  }
}


