@import "variables";

// LAYOUT
.main-container {
  width: 730px;
  display: block;
  margin: 0 auto;
}

// NAVBAR
.navbar {
  height: 72px;

  .navbar-center {
    background-color: wheat;
    border: 1px solid black;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    padding: 1rem;
  }

  .theme {
    padding: 1rem;
  }

  .avatar {
    padding: 1rem;
  }

  .logo-btn {
    transform: scale(1);
  }
}



// INVOICE LIST
.invoice-list__header {
  margin: 32px 0;

  .invoice-list__title {
    margin-bottom: 4px;
  }

  .invoice-list__filter {
    margin-right: 18px;
  }

  .mobile {
    display: inline-block;
  }

  .desktop {
    display: none;
  }

  .arrow {
    margin-left: 12px;
  }
}

.invoice-list__container {
  .arrow,
  .date.desktop,
  .price.desktop {
    display: none;
  }


  .invoice-list__item {
    padding: 24px;
  }

  .invoice-list__item-value {
    margin: 0;
    width: 50%;
  }


}



// INVOICE CARD
.invoice-card__container {
  margin-top: 64px;

  .invoice-card__header,
  .invoice-card__body,
  .invoice-items-balance {
    border: 1px solid black;
    overflow: hidden;
    border-radius: 8px;
  }

  .invoice-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    height: 88px;
    margin-top: 32px;
    margin-bottom: 24px;
    padding: 20px 32px;
  }


  .invoice-card__body {
    display: flex;
    flex-direction: column;
    padding: 48px;
  }

  .invoice-mid {
    margin-top: 21px;
    margin-bottom: 45px;
  }

  .invoice-list-container {
    padding: 16px 32px 24px 32px;
  }

  .invoice-item-title {
    margin-bottom: 8px;
  }


  .invoice-address {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}

.invoice-card__container-mobile {
  display: none;
  position: relative;

  .mobile-menu-absolute-container {
    position: absolute;
  }

}



// MEDIA QUERIES

@media only screen and (min-width: 768px) {
  .navbar {

    .navbar-center {
      display: flex;
      flex-direction: row;
      height: 80px;
      width: 100vw;
    }

    .logo,
    .theme,
    .avatar {
      width: auto;
    }


    .avatar {
      border-top: 0;
      border-left: 1px solid #494e6e;
      padding: 1rem;
    }

    .logo-btn {
      transform: scale(1.1);
    }

  }

}

@media only screen and (min-width: 1024px) {
  .navbar {

    .navbar-center {
      background-color: wheat;
      overflow: hidden;
      border: 1px solid black;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 103px;
    }

    .logo,
    .theme,
    .avatar {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      background-color: transparent;
      border-style: none;

      &:hover {
        cursor: pointer;
      }
    }

    .logo {
      position: relative;
      padding: 33px 31px 32px 32px;
      border-radius: 0 20px 20px 0;
      background-color: #7C5DFAFF;
      z-index: 1;
      overflow: hidden;

      .logo-img {
        z-index: 9999;
      }


      &::after {
        content: "";
        height: 100px;
        width: 100%;
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 0;
        background-color: #9277ff;
        border-radius: 20px 0 0 20px;
      }
    }

    .theme {
      margin-top: auto;
      padding: 28px 42px 28px 41px;
    }

    .avatar {
      border-top: 1px solid #494e6e;
      padding: 24px 32px 24px 31px;
    }

    .logo-btn {
      z-index: 1000;
      transform: scale(1.4);
    }

  }

}

@media only screen and (min-width: 1024px) {

  .invoice-list__header {
    border: 1px solid black;
    margin: 72px 0 65px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mobile {
      display: none;
    }

    .invoice-list__title {
      margin-bottom: 8px;
    }

    .invoice-list__filter {
      margin-left: auto;
      margin-right: 40px;
    }

    .arrow {
      margin-left: 16px;
    }
  }

  .invoice-list__container {
    width: 100%;
    list-style: none;
    padding: 0;


    &:hover {
      cursor: pointer;
    }

    .date-price-container {
      display: none;
    }


  }

  .invoice-list__item {
    box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .invoice-list__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .invoice-list__item-value {
    text-align: left;
  }

  .invoice-list__none {
    width: 242px;
    display: block;
    margin: 0 auto;
    text-align: center;

    .invoice-list__none-title {
      margin-top: 64px;
      margin-bottom: 24px;
    }
  }

}
