@import "setup/variables";


body {
  font-family: $font-sans;
}


// LAYOUT
.main-container {
  display: flex;
  background-color: $accent-light-100;
  justify-content: center;
}

// NAVBAR
.navbar {
  background-color: $accent-light-100;
  padding: 1rem;

  .navbar-center {
    // HORIZONTAL POSITION
    background-color: $accent-dark-100;
    position: fixed;
    top: 0;
    left: 0;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logo, .navbar__control {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__control {
    flex-direction: row;
  }


  .logo {
    position: relative;
    background-color: $primary-200;
    z-index: -1;
    height: 72px;
    width: 72px;


    &::after {
      content: "";
      width: 100%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;
      background-color: #9277ff;
      overflow: hidden;
    }

  }

  .theme {
    padding: 1rem;
  }

  .avatar {
    padding: 1rem;
  }

  .logo-btn {
    transform: scale(1);
  }
}


// INVOICE LIST

.invoice-list {
  margin-top: 5rem;
  width: $max-w-sm;

  .invoice-list-center {
    display: flex;
    background-color: $accent-light-100;
    flex-direction: column;
    gap: 1rem;

    .invoice-list__header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;


      .invoice-list__title {

        h2 {
          @extend .text-xl
        }

        p {
          @extend .text-base;
          @extend .text-light-1
        }


      }


      .invoice-list__control {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;


        .control__filter {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-right: 1rem;

          h3 {
            @extend .text-lg;
            margin-right: 0.5rem;
          }


        }


      }


    }

    .invoice-list__container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .invoice-list__item {
        width: 100%;
        max-height: 134px;
        padding: 1.5rem;
        display: flex;
        cursor: pointer;
        border-radius: $rounded-lg;
        justify-content: space-between;
        background-color: $accent-light-000;

        .item__group {
          display: flex;
          flex-direction: column;
          justify-content: center;
          row-gap: 1rem;

          h4 {
            @extend .text-dark-1;
            @extend .text-lg
          }

          p {
            @extend .text-light-1;
            @extend .text-base;
            text-align: end;
          }
        }
      }
    }
  }
}


// INVOICE CARD

.invoice-card {
  width: $max-w-sm;

  .invoice-card__container {

    .invoice-card__header,
    .invoice-card__body,
    .invoice-items-balance {
      overflow: hidden;
      border-radius: 8px;
    }

    .invoice-card__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      height: 88px;
      margin-top: 32px;
      margin-bottom: 24px;
      padding: 20px 32px;
    }


    .invoice-card__body {
      display: flex;
      flex-direction: column;
    }

    .invoice-mid {
      margin-top: 21px;
      margin-bottom: 45px;
    }

    .invoice-list-container {
      padding: 16px 32px 24px 32px;
    }

    .invoice-item-title {
      margin-bottom: 8px;
    }


    .invoice-address {
      display: flex;
      flex-direction: column;
      text-align: right;
    }
  }

  .invoice-card__container-mobile {
    display: none;
    position: relative;

    .mobile-menu-absolute-container {
      position: absolute;
    }
  }

}


// MEDIA QUERIES

@media only screen and (min-width: map-get($breakpoints, "md")) {


  .navbar {
    .navbar-center {
      display: flex;
      flex-direction: row;
      height: 80px;

      .logo {
        height: 80px;
        width: 80px;
      }


    }


  }


  .invoice-list {
    width: $max-w-md;
  }


  .invoice-card {
    width: $max-w-md;
  }


}


@media only screen and (min-width: map-get($breakpoints, "lg")) {
  .navbar {


    .navbar-center {
      // HORIZONTAL TO VERTICAL
      display: flex;
      flex-direction: column;
      width: 103px;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;

      .logo {
        height: 103px;
        width: 103px;
      }

      .navbar__control {
        flex-direction: column;


        .avatar{
          border-top:1px solid $accent-light-400;
        }


      }


    }

  }


  .invoice-card {
    width: $max-w-lg;
  }

  .invoice-list {
    width: $max-w-lg;
    background-color: lightblue;

    .invoice-list__header {
      display: flex;
      justify-content: space-between;
      align-items: center;


    }


    .invoice-list__item {

      .item__group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

    }


    .invoice-list__none {
      width: 242px;
      display: block;
      margin: 0 auto;
      text-align: center;

      .invoice-list__none-title {
        margin-top: 64px;
        margin-bottom: 24px;
      }
    }


  }


}
