@import "variables";

// UTILITY CLASSES
.invoice-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 40px;
  border-radius: 6px;

  &.paid {
    color: #33d69f;
  }

  &.pending {
    color: #ff8f00;
  }

  &.draft {
    color: red;
  }

  .status-container {
    display: flex;
    align-items: flex-end;
  }

  .status-text {
    color: currentColor;
    line-height: 9px;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .status-point {
    display: inline-block;
    background-color: currentColor;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #7C5DFAFF;
  color: #ffffff;
  border-radius: 24px;
  border-style: none;
  font-weight: bold;
  padding: 0 24px 0 23px;

  &:hover {
    cursor: pointer;
  }

  &.large {
    padding: 0 15px 0 8px;
  }

  .button-icon-container {
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.danger {
    background-color: #EC5757FF;
  }

  &.default {
    color: #7e88c3;
  }
}