// UTILITY MIXINS
@import "variables";

@mixin text-xxs {
  font-size: map-get($font-sizes, "xxs");
  line-height: map-get($line-height, "1");
  font-weight: normal;
}


@mixin text-xs {
  font-size: map-get($font-sizes, "xs");
  line-height: map-get($line-height, "1");
  font-weight: normal;
}

@mixin text-sm {
  font-size: map-get($font-sizes, "sm");
  line-height: map-get($line-height, "3");
  font-weight: normal;
}

@mixin text-base {
  font-size: map-get($font-sizes, "base");
  line-height: map-get($line-height, "2");
  font-weight: normal;
}

@mixin text-lg {
  font-size: map-get($font-sizes, "lg");
  line-height: map-get($line-height, "4");
  font-weight: bold;
}

@mixin text-xl {
  font-size: map-get($font-sizes, "xl");
  line-height: map-get($line-height, "5");
  font-weight: bold;
}

@mixin d-block {
  display: block;
}

@mixin d-flex {
  display: flex;
}

@mixin d-grid {
  display: grid;
}

@mixin h-screen {
  height: 100vh;
}

@mixin w-full {
  width: 100%;
}

@mixin mx-auto {
  margin: 0 auto;
}

@mixin transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}


@mixin transition-all-2 {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 800ms;
}



//  COLOR SCHEMES

@mixin color-scheme($color-1, $color-2) {
  background-color: $color-1;
  color: $color-2;

  html.dark & {
    background-color: $color-2;
    color: $color-1;
  }
}


@mixin color-scheme-text($color-1, $color-2) {
  color: $color-2;
  html.dark & {
    color: $color-1;
  }
}


@mixin color-scheme-border($color-1, $color-2) {
  border: 1px solid $color-2;
  html.dark & {
    border: 1px solid $color-1;
  }
}


@mixin color-scheme-fill($color-1, $color-2) {
  fill: $color-2;
  html.dark & {
    fill: $color-1;
  }
}

