@import "setup/variables";
@import "controls/forms";
@import "controls/buttons";
@import "setup/mixins";


// TYPOGRAPHY

.text-xxl {
  @include text-xxl;
}

.text-xl {
  @include text-xl;
}

.text-lg {
  @include text-lg;
  line-height: map-get($line-height, "3");
}

.text-lg-alt {
  font-size: 18px;
  font-weight: bold;
  line-height: map-get($line-height, "2");
}

.text-base {
  @include text-base;
  line-height: map-get($line-height, "2");
  letter-spacing: map-get($letter-spacing, "1");

}

.text-base-alt {
  @include text-base;
  line-height: map-get($line-height, "1");
  letter-spacing: map-get($letter-spacing, "2");
}

// TEXT COLORS

.text-dark-1 {
  color: $accent-dark-500;
}

.text-light-1 {
  color: $accent-light-400;
}




// STATUS

.status {
  width: 104px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border-radius: $rounded-md;
  text-transform: capitalize;

  .status-icon {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: $rounded-full;
  }

  &.paid {
    color: $success-100;
    background-color: hsla(160, 67%, 52%, 0.2);
  }

  &.paid .status-icon {
    background-color: $success-100;
  }

  &.pending {
    color: $warning-100;
    background-color: rgba(255, 143, 0, 0.2);
  }

  &.pending .status-icon {
    background-color: $warning-100;
  }

  &.draft {
    color: $accent-dark-100;
    background-color: rgba(55, 59, 83, 0.2);
  }

  &.draft .status-icon {
    background-color: $accent-dark-100;
  }

}


.box {
  height: 100px;
  border: 1px solid #252945;
  width: 100px;
  display: block;
  background-color: #7E88C3;
}






.form__row-date{

}





@media only screen and (min-width: map-get($breakpoints, "sm")) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

}


@media only screen and (min-width: map-get($breakpoints, "md")) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

}

