@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$primary-100: #697C9A;
$primary-200: #4B6A9B;
$primary-300: #0079FF;
$primary-400: #60ABFF;
$secondary-100: #F74646;
$accent-light-100: #FFFFFF;
$accent-light-200: #F6F8FF;
$accent-light-300: #FEFEFE;
$accent-light-400: #bbddf6;
$accent-light-500: #808080;
$accent-dark-100: #1E2A47;
$accent-dark-200: #2B3442;
$accent-dark-300: #141D2F;
$font-sans: sans-serif;
$font-serif: serif;
$font-mono: 'Space Mono', monospace;
$max-w-sm: 327px;
$max-w-md: 573px;
$max-w-lg: 700px;
$max-w-xl: 1110px;
$rounded-sm: 4px;
$rounded-md: 8px;
$rounded-lg: 10px;
$rounded-xl: 16px;
$rounded-full: 50%;
$box-shadow-1: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$box-shadow-2: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$box-shadow-3: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$transition: 0.3s ease-in-out all;
$font-sizes: (
        "xxs": 0.680rem,
        "xs": 0.813rem,
        "sm": 0.938rem,
        "base": 1rem,
        "lg": 1.375rem,
        "xl": 1.625rem
);
$line-height: (
        "1": 1.25rem,
        "2": 1.5rem,
        "3": 1.563rem,
        "4": 2.063rem,
        "5": 2.375rem
);

$breakpoints: (
        "sm": 375px,
        "md": 768px,
        "lg": 1440px,
);

