@import "variables";

// UTILITY MIXINS
@mixin text-xxl {
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-sizes, "6");
  line-height: map-get($line-height, "5");
  letter-spacing: map-get($letter-spacing, "4");
}

@mixin text-xl {
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-sizes, "5");
  line-height: map-get($line-height, "4");
  letter-spacing: map-get($letter-spacing, "3");
}

@mixin text-lg {
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-sizes, "2");
  letter-spacing: map-get($letter-spacing, "2");
}

@mixin text-base {
  font-weight: map-get($font-weight, "medium");
  font-size: map-get($font-sizes, "1");
}



@mixin d-block {
  display: block;
}

@mixin d-flex {
  display: flex;
}

@mixin d-grid {
  display: grid;
}

@mixin h-screen {
  height: 100vh;
}

@mixin w-full {
  width: 100%;
}

@mixin mx-auto {
  margin: 0 auto;
}

@mixin transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}


@mixin transition-all-2 {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 800ms;
}


//  COLOR SCHEMES

@mixin color-scheme($color-1, $color-2) {
  background-color: $color-1;
  color: $color-2;

  html.dark & {
    background-color: $color-2;
    color: $color-1;
  }
}


@mixin color-scheme-text($color-1, $color-2) {
  color: $color-2;
  html.dark & {
    color: $color-1;
  }
}


@mixin color-scheme-border($color-1, $color-2) {
  border: 1px solid $color-2;
  html.dark & {
    border: 1px solid $color-1;
  }
}


@mixin color-scheme-fill($color-1, $color-2) {
  fill: $color-2;
  html.dark & {
    fill: $color-1;
  }
}

